.matcard
{
    width: 600px;
    margin-top: 7%;
    margin-left: 55%

}
.span{
    top: 10px;
    right: 0px;
    position: absolute;
}
.div2{

    outline: none;
    width: 400px;
    position: relative;
}
div:empty:before {
    content:attr(data-text);
    color:gray
  }

.take_note{
    padding-top: 12px;
    padding-left: 14px;
    padding-bottom: 0px
}