<div class="heading">Reset password</div>
<br><br>
<form [formGroup]="myForm">

    <mat-card>
        <div>
            <!-- <mat-card-title>Password Reset<br></mat-card-title> -->
        </div>
        <div class="example-container">
        
            <!-- <app-forget>{{childmsg}}</app-forget> -->
            <mat-form-field>
             EmailId  <input matInput [disabled]=true>{{value}}
            </mat-form-field>
            <!-- <mat-form-field>
            <input matInput  placeholder="Password" type="password" [formControl]="pass"
            required autofocus name="pass" [(ngModel)]="model.pass">
            <mat-error *ngIf="pass.invalid ">{{getConfErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Confirm Password" type="password" [formControl]="pass1"
            required autofocus name="pass1" [(ngModel)]="model.pass1">
            <mat-error *ngIf="pass1.invalid ">{{getPassErrorMessage()}}</mat-error>
        </mat-form-field> -->

            <mat-form-field>
                <input matInput placeholder="New password" formControlName="password" required>
                <mat-error *ngIf="myForm.hasError('required', 'password')">
                    Please enter your newpassword
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                <mat-error *ngIf="myForm.hasError('notSame')">
                    Passwords do not match
                </mat-error>
            </mat-form-field>

            <br>
        </div>
        <div class="button-row">
            <button mat-flat-button (click)="save()">Submit</button>&nbsp;&nbsp;&nbsp;
        </div>
    </mat-card>
</form>