<div class="heading">Reset password</div>
<br><br>
<mat-card>
    <div>
        <mat-card-title>Password Reset<br></mat-card-title>
    </div>
    <div class="example-container">
        <mat-form-field>
            <input matInput maxlength="6" minlength="6" placeholder="Password" type="password" [formControl]="pass"
                required>
            <mat-error *ngIf="pass.invalid ">{{getPass1ErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput maxlength="6" minlength="6" placeholder="Password" type="password" [formControl]="pass"
                required>
            <mat-error *ngIf="pass.invalid ">{{getPass1ErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
    </div>
    <div class="button-row">
        <button mat-flat-button (click)="save()">Submit</button>&nbsp;&nbsp;&nbsp;
    </div>
</mat-card>