<!-- <br><br> -->
<title>Login Page</title>
<mat-card class="heading">{{title}}</mat-card>
<br>

<div align="center" class="example-container">
    <form>
        <mat-card class="matstyle">
            <mat-card-title>Login</mat-card-title>
            <br>
            <mat-form-field>
                <input matInput placeholder="Email" [formControl]="email" required autofocus name="email" [(ngModel)]="model.email">
                <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>

            
            <mat-form-field>
                <input matInput placeholder="Password" required type="password" [formControl]="passwd" name="password" [(ngModel)]="model.passwd">
                <mat-error *ngIf="passwd.invalid">{{getPasswordErrorMessage()}}</mat-error>

                <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon> -->
            </mat-form-field>
            <br><br>
            <div class="button-row">
                <button mat-flat-button (click)="saves()">Login</button>&nbsp;&nbsp;&nbsp;
                <a routerLink="/register"><button mat-flat-button>Register</button></a>
            </div>&nbsp;&nbsp;&nbsp;
            <br>
            <a routerLink="/forget" style="color:blue">Forget Password ?</a><h6>Or</h6>
            <h6 style="color:blue">Sign In With</h6>
            <a target="__blank" href="https://www.facebook.com/login/device-based/regular/login/?login_attempt=1&lwv=110">
                <mat-icon svgIcon="fb"></mat-icon>
                </a>&nbsp;&nbsp;&nbsp;
                <a target="__blank" href="https://accounts.google.com/signin/v2/sl/pwd?passive=1209600&continue=https%3A%2F%2Faccounts.google.com%2FManageAccount&followup=https%3A%2F%2Faccounts.google.com%2FManageAccount&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
                <mat-icon svgIcon="g"></mat-icon>
                </a>
        </mat-card> 
    </form>
</div>