<mat-card class="heading">{{title}}</mat-card>
<br><br>
<div align="center" class="example-container">
    <form>
        <mat-card class="matstyle">
            <mat-card-title>Password Form</mat-card-title>
            <mat-form-field>
                <input matInput placeholder="Email" [formControl]="email" required autofocus name="email" [(ngModel)]="model.email">
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <br><br>
            <div class="button-row">
                    <button mat-flat-button (click)="save()">Submit</button>&nbsp;&nbsp;&nbsp; 
            </div>&nbsp;&nbsp;&nbsp;
        </mat-card>
    </form>
</div>