<!-- <div>
    <mat-card class="receive" [style.background-color]="item">
      <mat-card-title>

          <input matInput placeholder="Title" 
          class="divtext"
          name="title" value="{{title}}">

        </mat-card-title>

      <input matInput placeholder="Note" 
      class="divtext"
      name="note"value="{{note}}" >

      <button mat-icon-button aria-label="Remind me" [matMenuTriggerFor]="menu" style="opacity: 0.5;">
        <mat-menu #menu [overlapTrigger]="false">
          <label style="margin:1%;">Reminder:</label>
          <button mat-menu-item>Later Today 8.00pm</button>
          <button mat-menu-item>Tomorrow</button>
          <button mat-menu-item>Next Week</button>
          <button mat-menu-item>Home</button>
        </mat-menu>
        <img src="../../assets/img/login/rem.svg">
      </button>
      <button mat-icon-button style="opacity: 0.5;">
        <img src="../../assets/img/login/collab.svg">
      </button>
      <button mat-icon-button aria-label="Color" [matMenuTriggerFor]="menu1" style="opacity: 0.5;">
        <mat-menu #menu1 [overlapTrigger]="false">
          <label style="margin:1%;">Color</label>
          <button mat-menu-item (click)="mat(red)">Red</button>
          <button mat-menu-item (click)="mat()">Green</button>
          <button mat-menu-item (click)="mat()">Blue</button>
  
        </mat-menu>
        <img src="../../assets/img/login/color.svg">
      </button>
      <button mat-icon-button (click)="imageUpload($event)" style="opacity: 0.5;">
        <img src="../../assets/img/login/image.svg">
      </button>
      <button mat-icon-button style="opacity: 0.5;">
        <img src="../../assets/img/login/archive.svg">
      </button>
      <button mat-icon-button style="opacity: 0.5;">
        <img src="../../assets/img/login/vertical.svg">
      </button>
      <button mat-icon-button style="opacity: 0.5;">
        <img src="../../assets/img/login/undo.svg">
      </button>
      <button mat-icon-button style="opacity: 0.5;">
        <img src="../../assets/img/login/redo.svg">
      </button>
   
      <button mat-button (click)="expcardVisibiilty()" style="margin-left:1%;" (click)="save()">Close</button>
  
    </mat-card>
  </div> -->
