<mat-toolbar class="toolbar">
  <button aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" matTooltip="Main Menu">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="title">Fundoo Note</span>
  <button aria-label="Toggle sidenav" mat-icon-button matTooltip="Search">
    <mat-icon aria-label="Side nav toggle icon">search</mat-icon>
  </button>

  <input class="searchbar" aria-label="Search" autocomplete="off" placeholder="Search" type="text" aria-hidden="true">

  <!-- value=""  role="combobox" -->
  <div>
    <div>

      <span>
        <!-- for the grid view and list view button -->
        <button aria-label="Toggle sidenav" mat-icon-button matTooltip="{{viewtip}}" (click)="toggle()">
          <mat-icon aria-label="Side nav toggle icon">
            <img src="{{imgloc}}">
          </mat-icon>
        </button>
      </span>
      <span>
        <button aria-label="Toggle sidenav" mat-icon-button mat-button matTooltip="Account" [matMenuTriggerFor]="menu"
          style="margin-left:50px;">
          <mat-icon aria-label="Side nav toggle icon">
            <img [src]="url" style="height: 58px;
            width: 57px;
            margin-top: -20px;
            margin-left: -20px; 
            border-radius: 73px;">
          </mat-icon>
          <mat-menu #menu [overlapTrigger]="false">

            <!-- <button mat-fab (click)="file.click()"  mat-fab  ></button>

            <a>
            <button mat-button (click)="profile($event)" #file class="profilepic"> 
              <img [src]="url" style=" height: 70px;
              width: 72px;
              border-radius: 54px;
              margin-left: -11px;" >
            </button>
            </a>

            <span *ngIf="pic">
              <input type="file"  (change)="onSelectFile($event)">
            </span> -->

            <button mat-button (click)="file.click()" style="outline-style: none;height: 0px;">
              <img src="{{url}}" style="height: 70px;
        width: 72px;
        border-radius: 54px;
       margin-left: -15px;
        margin-bottom: 42px; ">
            </button>

            <input style="margin-left: -290px" type="file" (change)="onSelectFile($event.target.files)" accept="image/*"
              #file>


            <button mat-button style="margin-left: -15%;height: 0px">{{getmail}}</button>
            <mat-divider></mat-divider>

            <button mat-button>Add Account</button>
            <button mat-button style="margin-left:15%;" (click)="logout()">Log Out</button>
          </mat-menu>
        </button>
      </span>
      <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" mode="side">
    <mat-nav-list>
      <a mat-list-item class="changesize" routerLink="note">
        <button aria-label="Toggle sidenav" mat-icon-button>
          <mat-icon aria-label="Side nav toggle icon">
            <img src="../../assets/img/login/note.svg">
          </mat-icon>

        </button>Notes</a>

      <a mat-list-item routerLink="remainder" class="changesize">
        <button aria-label="Toggle sidenav" mat-icon-button>
          <mat-icon aria-label="Side nav toggle icon">
            <img src="../../assets/img/login/rem.svg">
          </mat-icon>
        </button>Reminders</a>
      <hr>
      <label class="changesize">Labels
        <span style="margin-left:170px">
          <button mat-icon-button>Edit</button></span>
      </label>

      <!--for the labels to be displayed -->
      <div *ngFor="let item of items">
        <a mat-list-item routerLink="labelForEachCard" (click)="fetchSpecificLabel(item.label)">
          <mat-icon>
            <img src="assets/img/login/label.svg" />
          </mat-icon>
          {{item.label}}
        </a>
      </div>


      <a mat-list-item (click)="openDialog()">
        <mat-icon aria-label="Side nav toggle icon">
          <img src="../../assets/img/login/plus.svg" style="    margin-left: 11px;
            margin-top: -9px;">
        </mat-icon>
        <label class="lab">Create New Labels</label>
      </a>

      <!-- <hr> -->
      <mat-divider>
      </mat-divider>
      <a mat-list-item routerLink="archive" class="changesize">
        <button aria-label="Toggle sidenav" mat-icon-button>
          <mat-icon aria-label="Side nav toggle icon">
            <img src="../../assets/img/login/archive.svg">
          </mat-icon>
        </button>Archive</a>

      <a mat-list-item routerLink="trash" class="changesize">
        <button aria-label="Toggle sidenav" mat-icon-button>
          <mat-icon aria-label="Side nav toggle icon">
            <img src="../../assets/img/login/trash.svg">
          </mat-icon>
        </button>Trash</a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content style="width: 101%;height: 100%;">
    <!--connect the sidenavigation to the w.r.t notes,reminder style="background-color: #e8e8e8"-->

    <!-- to return the result from fundoo to note for view -->

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>